*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --color-text: hsl(0, 0%, 100%);
     --color-text-paragraph:hsl(224, 100%, 95%);
     --color-bg:hsl(228, 99%, 58%);
     --color-artcle-hover:hsl(228, 100%, 60%);
     --color-overlay:hsl(0 0% 0% / 25%);
     
     --font-inter:'Inter', sans-serif;

}
body{
    font-family: var(--font-inter);
    background-color: var(--color-bg);
    font-weight: 400;
    color: var(--color-text);
}
/*header*/

.site-header{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.5rem 1rem;
    
}
a{
    display: flex;
    align-items: center;
    gap:0.5rem;
    text-decoration: none;
    font-size: calc(18px + 0.7vw);
    color: var(--color-text);
    
}

.brand-name{
    font-size: clamp(12px, 3vw, 14px);
    color: var(--color-text);
}
.brand-mark{
    height: 10px;
    width: 10px;
    background-color: var(--color-text);
    border-radius: 50%;
}
.header-nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu nav{
    padding: 2rem 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.mobile-menu a{
    letter-spacing: -1px;
}
.close-button,
.mobile-menu {
  display: none;
}

.close-button.show{
  display: block;
}
.mobile-menu.show {
    display: block;
    order: -1;
}
.ham-icon.hide, .hero.hide {
  display: none;
}
button{
    background: none;
    border: none;
}
/*main*/
.page{
    display: flex;
    flex-direction: column;
}  
main{
    grid-column: 1;
    grid-row: 1;
}
.hero{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    padding: 3.5rem 2rem;
    
}    
h1{
    font-size: calc( 24px + 2vw);
    font-weight: 400;
    
}
p{
    font-size: clamp(14px, 3vw,15px);
    color: var(--color-text-paragraph);
    line-height: 22px;
    width: 100%;
    max-width: 350px;
   
}
.hero-texts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
article{
    height: 300px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}
.stat-number{
    display: flex;
    align-items: center;
    
}
h2{
    margin-inline-start: auto;
    font-size: clamp(30px, 3vw, 33px);
    font-weight: 400;
}
.stat-text{
    margin-top: auto;
}
h3{
    font-size: clamp(12px,3vw,14.5px);
    font-weight: 400;
}
.grid{
    position: relative;
}
article p{
    font-size: clamp(9.5px,3vw,12.5px);
    font-weight: 400;
}
.site-header, .hero, article, .mobile-menu{
    border-bottom: 0.3px solid color-mix(in srgb, var(--color-text-paragraph) 30%, transparent);
}
.grid.menu-active::after,
.footer.menu-active::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-overlay);
    pointer-events: none;
    z-index: 1;
}
/* footer*/

footer{
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    grid-column: 1;
    grid-row: 2;
    position: relative;
}
footer p{
    font-size: clamp(10px, 3vw, 12.5px);
}

/*hover*/

article:hover{
    cursor: pointer;
    background-color: var(--color-artcle-hover);
}
.mobile-menu a:hover {
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}


@media screen and (min-width:1024px) {
    .page{
        display: grid;
        grid-template-columns: 1fr auto;   
        grid-template-rows: 1fr auto;
    }
    .page.menu-active{
        grid-template-columns: 3.2fr 1.2fr;
    }
      
    .site-header, footer{
       padding: 1.3rem 3rem;
    } 
    
    footer{ grid-column: 1; grid-row: 2; }
    .grid{
        display: grid;
        grid-template-columns: 45% 55%;
    } 
    .grid.menu-active{
        grid-template-columns: 1.5fr 1fr;
        
    } 
    .mobile-menu{
        padding: 2rem 3rem;
        
        grid-column: 2;
        grid-row: 1 / 3;
    }
    .mobile-menu nav {
        align-items: flex-end;
    }
    .stats{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .stats.menu-active{
        display: block;
        
    }
    .hero{
        padding: 0 3rem;
       
        justify-content: center;
    }    
    
   footer::before {
       bottom: auto;
   }
   
   .hero-texts{
       width: 100%;
       max-width: 399px;
       gap: 3rem;
   }
   .hide {
       display: none;
   }
   article{
      padding: 2rem;
      border-left: 0.3px solid color-mix(in srgb, var(--color-text-paragraph) 30%, transparent);
   }
   footer{
      flex-direction: row;
   }
   .charity{
      margin-left: auto;
      text-align: end;
   }
   .charity.hide{
      display: none;
      
   }
   
}
